* {
    box-sizing: border-box;
    margin: 10;
}


.header {
    padding-bottom: 10px;
    height: 75px;
    border-bottom:solid ;
}








.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


.mainsection {
    margin: 15px;
    padding: 2px 2px;
    text-align: center;
  }

  .sectionleft {
    display: inline-block;
    border: 1px solid;
    padding: 1rem 1rem;
    vertical-align: middle;
    width: 500px;
    height: 500px;
    align-items: center;
  }

#darkMode {
    color: white;
    background-color: rgb(37, 37, 37) ;
    border: white
}
    
